@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.container {
  display: grid;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #f5f5f7;
  height: 44px;
}

.apple_button {
  width: 14px;
  height: 16px;
}
.navigation {
  display: flex;
  gap: 30px;
  font-weight: 300;
  font-size: 12px;
}
.nav_link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.menu_button {
  font-weight: 100;
  display: none;
}

.header_title {
  font-weight: 300;
  font-size: 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone16pro {
  background-image: url(./logos/Figure.png);
  width: 100vw;
  height: 692px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home_img_titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.home_img_main_title {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_img_second_title {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.home_img_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.learn_more_button {
  color: white;
  background-color: #0071e3;
  width: 180px;
  height: 60px;
  font-weight: 300;
  font-size: 23px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.buy_button {
  color: #0071e3;
  background-color: transparent;
  width: 90px;
  height: 60px;
  font-weight: 300;
  font-size: 23px;
  border-radius: 40px;
  border: solid #0071e3;
  cursor: pointer;
}

.iphone16 {
  background-image: url(./logos/blue\ iphone.png);
  margin-top: 20px;
  width: 100vw;
  height: 820px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.iphone16_titles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.iphone16_main_title {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iphone16_second_title {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.iphone16_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.iphone16_learn_more_button {
  background-color: white;
  width: 180px;
  height: 60px;
  font-weight: 300;
  font-size: 23px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.iphone16_buy_button {
  color: white;
  background-color: transparent;
  width: 90px;
  height: 60px;
  font-weight: 300;
  font-size: 23px;
  border-radius: 40px;
  border: solid white;
  cursor: pointer;
}

.gift_magic {
  background-image: url(./logos/apple\ logo\ hamilion.png);
  margin-top: 20px;
  height: 1000px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.gift_magic_main_title {
  color: black;
  font-size: 80px;
  font-weight: 600;
}

.gift_magic_second_title {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.shop_gifts_button {
  color: white;
  background-color: #0071e3;
  width: 180px;
  height: 60px;
  font-weight: 300;
  font-size: 23px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.gift_magic_titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 630px;
}
.products {
  display: grid;
  grid-template-rows: repeat(3, 580px);
  grid-template-columns: repeat(2, 1100px);
  gap: 15px;
  justify-content: center;
}
.product-1 {
  background-image: url("./logos/ipadairdesktop.png");
  display: flex;
}

.product-1_texts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-left: 100px;
  gap: 12px;
}
.product-1 h2 {
  font-weight: 300;
}

.product-1_learn_more_button {
  color: white;
  background-color: #0071e3;
  width: 110px;
  height: 40px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.product-1_buy_button {
  color: #0071e3;
  background-color: transparent;
  width: 70px;
  height: 40px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 40px;
  border: solid #0071e3;
  cursor: pointer;
}
.product-2 {
  background-image: url("./logos/airpods\ pro\ desktop.png");
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
.product-3 {
  background-image: url("./logos/iwatch\ desktop.png");
  display: flex;
  justify-content: center;
  padding: 80px;
}
.apple_logo {
  position: absolute;
  left: 450px;
}
.product-4 {
  background-image: url("./logos/macbook\ desktop.png");
}
.product-5 {
  background-image: url("./logos/Trade\ in\ desktop.png");
}
.product-6 {
  background-image: url("./logos/Card\ desktop.png");
}
@media only screen and (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .menu_button {
    display: block;
  }
  .search_button {
    margin-left: auto;
  }
  .header_title {
    margin-inline: 20px;
  }

  .iphone16pro {
    background-image: url("./logos/tablet-16pro.png");
    height: 650px;
  }
  .home_img_titles {
    padding: 55px;
  }
  .home_img_main_title {
    font-size: 50px;
  }
  .home_img_second_title {
    font-size: 25px;
  }
  .iphone16 {
    background-image: url("./logos/tablet\ blue.png");
    height: 650px;
  }

  .gift_magic {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .iphone16pro {
    background-image: url("./logos/16\ pro\ small\ phone.png");
  }
  .home_img_main_title {
    font-size: 35px;
  }

  .home_img_second_title {
    font-size: 20px;
  }

  .learn_more_button {
    width: 130px;
    height: 40px;
    font-size: 17px;
  }

  .buy_button {
    width: 80px;
    height: 40px;
    font-size: 17px;
  }
  .home_img_titles {
    position: relative;
    top: 60%;
  }

  .header_title {
    margin-inline: 20px;
  }

  .iphone16 {
    background-image: url("./logos/phone\ blue.png");
  }

  .iphone16_main_title {
    font-size: 35px;
  }

  .iphone16_second_title {
    font-size: 20px;
  }

  .iphone16_learn_more_button {
    width: 130px;
    height: 40px;
    font-size: 17px;
  }

  .iphone16_buy_button {
    width: 80px;
    height: 40px;
    font-size: 17px;
  }
  .gift_magic {
    display: none;
  }
}
